li{
    list-style:none;
}
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
body{
    font-family: 'Noto Sans JP', sans-serif;
}
.container{
    margin:auto;
    width:1170px;
    padding:0px 5px;
}
header{
    background-color:#00CC66;
    height:60px;
    width:100%;
    position:fixed;
    top:0;
    z-index:10;
}
.header-logo{
    font-size:30px;
    padding:10px 5px 0px 0px;
    color:white;
    font-weight:bold;
    float:left;
}
.header-logo span{
    font-size:25px;
    padding:10px;
    color:#009966;
    font-weight:normal;
}
.header-list{
    color:white;
    float:left;
    padding:30px 30px 0px 0px;
    cursor:pointer;
}
.header-right{
    float:right;
}
.top-wrapper{
    background-image:url(seven.HEIC);
    height:680px;
    background-size:cover;
    padding:50px;
}
.top-wrapper h1{
    font-size:80px;
    color:white;
    padding-top:30px;
    opacity:0.7;
}

.event{
    height:400px;
    padding-top:50px;
}
.event h3{
    border-bottom:2px solid #dee7ec;
    padding:10px;
}
.event img{
    width:500px;
    height:l
}
